.container  {
    min-height: 50.25rem;
    width: 100%;
    background-color: #1C232B;
    color: #ffffff;
    margin-bottom: 5.188rem;
    display: flex;
    padding: 3.813rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-box {
    max-width: 33.5rem;
    text-align: center;
}

.container-box > div {
    margin-bottom: 2rem;
    /* border: 2px white solid; */
}

.container-heading {
    font-size: 4rem;
    font-weight: 700;
}

.container-heading > span:last-child {
    margin-left: 1rem;
    color: #0070E7;
}

.container-detail {
    max-width: 33.5rem;
    min-height: 8.125rem;
    font-size: 1.5rem;
    text-align: left;
}

.container-subheading {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.container-description {
    font-weight: 300;
}

.container-detail > div {

    margin-left: 1.5rem;
}

.container-detail > span {
    height: 7.438rem;
    width: 2px;
    position: absolute;
    background: #ffffff;
}

.container-img {
    max-width: 45.313rem;
    max-height: 43.688rem;
}

.container-img > img {
    height: 100%;
    width: 100%;
}